# These should be fixed to this version:
skweak==0.2.13
hmmlearn==0.2.6
textblob==0.17.1

# The rest of the requirements (we think) don't need a fixed version. It's added because it worked for us.
nltk==3.8.1
transformers==4.7.0
scikit-learn==1.0.2

# install jupyter last; order matters in pip
jupyter
